{
  "bracketSameLine": true,
  "bracketSpacing": false,
  "jsxSingleQuote": true,
  "printWidth": 100,
  "plugins": ["prettier-plugin-svelte"],
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "useTabs": false
}
