@tailwind base;
@tailwind components;
@layer components {
  button {
    @apply bg-slate-400 text-white;
    @apply rounded px-3 py-2;
    text-align: center;
    min-width: 80px;
  }
  label {
    font-weight: 600;
    display: block;
  }
  table {
    border-collapse: collapse;
    caption-side: bottom;
    margin-bottom: 10px;
  }
  dialog {
    width: 60%;
    border-width: 1px;
    @apply border-slate-400;
    padding-left: 20px;
    padding-right: 20px;
  }
  input, select {
    display: block;
    width: 100%;
  }
}
@tailwind utilities;

.btn-primary {
  @apply bg-primary-500 hover:bg-primary-600;
}
.btn-secondary {
  @apply bg-secondary-500 hover:bg-secondary-600;
}
.btn-danger {
  @apply bg-danger-500 hover:bg-danger-600 border-danger-600;
}







