@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
  button {
    @apply bg-slate-400 text-white;
    @apply rounded-sm px-3 py-2;
    text-align: center;
    min-width: 80px;
  }
  label {
    font-weight: 600;
    display: block;
  }
  table {
    border-collapse: collapse;
    caption-side: bottom;
    margin-bottom: 10px;
  }
  dialog {
    width: 60%;
    border-width: 1px;
    @apply border-slate-400;
    padding-left: 20px;
    padding-right: 20px;
  }
  input, select {
    display: block;
    width: 100%;
  }
}

.btn-primary {
  @apply bg-primary-500 hover:bg-primary-600;
}
.btn-secondary {
  @apply bg-secondary-500 hover:bg-secondary-600;
}
.btn-danger {
  @apply bg-danger-500 hover:bg-danger-600 border-danger-600;
}







